@import '../../styles/variables/fonts';
@import '../../styles/variables/colors';

.pb-register-main-wrapper {
    background: rgb(53,134,180);
    background: linear-gradient(0deg, rgba(53,134,180,1) 0%, rgba(132,250,176,1) 100%); 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pb-register-content {
    width: 100%;
    max-width: 900px;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}

.pb-register-content-right-section {
    background: rgba(255, 255, 255, 0.5);
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.pb-register-content-login {
    background: white;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px #acacac;
    max-width: 450px;

    &__heading {
        color: #1C4153;
        font-size: 25px;
        font-family: $primary-font;
        margin-bottom: 3px;
    }

    &__desc {
        color: $font-grey;
        font-size: 15px;
    }
}