$font-grey: #808080;
$font-dark: #404040;
$error-red: #D01010;
$success-green: #41C02C; 
$pb-dark-blue: #1C4153;
$font-dark-300: #313131;
$font-dark-200: #4f4f4f;
$pb-ash-bg: #ECEFF4;
$pb-blue-100: #C2E9FB;
$pb-blue-300: #1B5572;
$pb-blue-active: #3686FF;
